@media (max-width: 1200px) {
    .container {
        max-width: 1120px;
        padding: 0 20px;
    }
}

@media (max-width: 1120px) {
    .container {
        max-width: 990px;
    }
    .services-list {
        justify-content: space-around;
    }
    .about-content {
        flex-direction: column;
    }
    .about-text, .about-info {
        width: 100%;
    }
    .about-text p {
        max-width: 100%;
        margin-bottom: 60px;
    }
    .about-info {
        justify-content: space-around;
    }
    
    
}
@media (max-width: 990px) {
    .container {
        max-width: 767px;
    }
    .header {
        padding-bottom: 23px;
    }
    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-logo {
        padding-top: 23px;
    }
    body.lock {
        overflow: hidden;
    }
    .logo, p.header-logo-text {
        z-index: 3;
    }
    .burger-menu {
        display: block;
        position: relative;
        top: 15px;
        width: 33px;
        height: 20px;
        z-index: 3;
    }
    .burger-menu span {
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        left: 0;
        top: 8px;
        background-color: grey;
        transition: 1s;
    }
    .burger-menu::before,
    .burger-menu::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        transition: 1s;
        background-color: grey;
    }
    .burger-menu::before {
        top: 0;
    }
    .burger-menu::after {
        bottom: 0;
    }
    .burger-menu.active span {
        transform: scale(0);
        transition: 1s;
    }
    .burger-menu.active::after {
        transform: rotate(-45deg);
        bottom: 8px;
        transition: 1s;
        background-color: grey;
    }
    .burger-menu.active::before {
        transform: rotate(45deg);
        top: 8px;
        transition: 1s;
        background-color: grey;
    }
    .header-content {
        padding-left: 20px;
        display: block;
        position: fixed;
        left: -100%;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #fff;
        z-index: 2;
        padding-top: 80px;
        padding-left: 40px;
        transition: 1s;
        overflow: auto;
    }
    .header-content.active {
        left: 0;
        transition: 1s;
    }
    
    .header-info {
        display: block;
        margin-bottom: 40px;
    }
    .header-info p {
        margin-left: 0;
        margin-bottom: 20px;
    }
    ul.main-nav {
        display: block;
    }
    ul.main-nav li {
        margin-left: 0;
        margin-bottom: 40px;
    }
    .about-info {
        justify-content: space-around;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-info, form.footer-form {
        width: 100%;
    }
    
}
@media (max-width: 767px) {
    .services {
        padding-top: 80px;
        padding-bottom: 75px;
        background-color: #EBEBEB;
    }
    .services span {
        font-size: 20px;
    }
    .services h2 {
        font-size: 36px;
    }
    .services-item {
        width: 49%;
    }
    .services, .about, .reviews, .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .reviews-slider-content {

        padding: 45px 45px 0 45px;
    }
    
    
} 
@media (max-width: 550px) {
    .clients-slide-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 580px) {
    .about-info-item:nth-child(2), .about-info-item:last-child {
        margin-left: 0px;
    }
}
@media (max-width: 500px) {
    span.for-title {
        font-size: 16px;
    }
    h2.section-title {
        font-size: 26px;
    }
    .services-item {
        width: 100%;
    }
}