body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #222222;
}
.container {
    max-width: 1120px;
    margin: 0 auto;
}
h2.section-title {
    font-size: 48px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    line-height: 1.32;
    padding-top: 38px;
}
span.for-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #bdbdbd;
}
.header {
    padding-bottom: 31px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.header-logo {
    margin-top: 10px;
    display: flex;
}
img.logo {
    margin-right: 30px;
}
p.header-logo-text {
    color: #005FA3;
    font-size: 36px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    line-height: 1.38;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header-info {
    padding-top: 23px;
    display: flex;
    margin-bottom: 22px;
}
.header-info p {
    display: flex;
    font-size: 13px;
    line-height: 1.32;
    margin-left: 40px;
}
.header-info p img {
    width: 17px;
    height: 17px;
    margin-right: 15px;
}
ul.main-nav {
    display: flex;
    
}
ul.main-nav li {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1;
    margin-left: 76px;
    text-transform: uppercase;
}
ul.main-nav li a {
    color: #222222
}
ul.main-nav li:first-child, .header-info p:first-child {
    margin-left: 0;
}
.main {
    height: 670px;
    background-image: url(../img/main-background.png);
    background-size: cover;
}
.swiper-container {
    width: 100%;
    /* height: 670px; */
    position: relative;
}

.swiper-pagination {
	position: absolute;
	bottom: 0%;
	left: 10%;
	width: 150px !important;
	left: auto !important;
    margin-bottom: 113px;
    display: flex;
    justify-content: space-between;
}
.swiper-pagination-bullet {
    background: #fff !important;
    padding: 5px;
}
.swiper-pagination-bullet-active {
    background: #fff !important; 
}
h1.main-text {
    font-family: 'Merriweather', serif;
    line-height: 50px;
    font-style: 48px;
    font-style: normal;
    font-weight: 700;
    max-width: 589px;
    color: white;
    margin-bottom: 70px;
    padding-top: 170px;
}
a.main-btn {
    width: 270px;
    height: 60px;
    display: inline-block;
    background-color: #005FA3;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 244px;
}

.services {
    padding-top: 140px;
    padding-bottom: 155px;
    background-color: #EBEBEB;
}

.services h2 {
    padding-top: 40px;
    margin-bottom: 102px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services-item {
    margin-bottom: 30px;
}
.about {
    padding: 140px 0;
    
}
.about-content {
    display: flex;
}
.about-text, .about-info {
    width: 50%;
}
.about-text h2 {
    margin-bottom: 62px;
}
.about-text h2 span {
    color: #005FA3;
}
.about-text p {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    max-width: 445px;
}
.about-info {
    display: flex;
    /* max-width: 540px; */
    flex-wrap: wrap;
    justify-content: flex-end;
}
.about-info-item {
    width: 255px;
    height: 255px;
    background-color: #e5e5e5;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 40px;
}
.about-info-item:nth-child(2), .about-info-item:last-child {
    margin-left: 30px;
}
.about-info-item h3 {
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 10%;
    margin-bottom: 20px;
}
.about-info-item p {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    max-width: 120px;
    margin-bottom: 47px;
}
.about-info-item a {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #005FA3;
    text-decoration:underline;
}
.clients {
    padding: 100px 0;
    background-color: #EBEBEB;
}
.clients h2 {
    margin-bottom: 80px;
}
.clients-slide-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
.clients .swiper-pagination {
	position: absolute;
	bottom: 0%;
	left: 10%;
	width: 150px !important;
	left: auto !important;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.clients .swiper-pagination-bullet {
    background: #005FA3 !important;
    padding: 5px;
}
.clients .swiper-pagination-bullet-active {
    background: #005FA3 !important; 
    opacity: 1 !important;
}

.reviews {
    
    padding-top: 140px;
    padding-bottom: 150px;
}
.reviews h2 {
    margin-bottom: 80px;
}
.reviews-slider-content {
    width: 100%;
    background-color: #e5e5e5;
    padding: 45px 95px 0 95px;
    margin-bottom:100px;
}
.reviews-slider-content p {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 58px;
    text-align: justify;
}
.author-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 45px;
}
.author-info img {
    margin-right: 35px;
}
.auth-name h3 {
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
}
.auth-name span {

}
.reviews .swiper-pagination {
	position: absolute;
	bottom: 0%;
	left: 10%;
	width: 150px !important;
	left: auto !important;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.reviews .swiper-pagination-bullet {
    background: #005FA3 !important;
    opacity: 0.4 !important;
    padding: 5px;
}
.reviews .swiper-pagination-bullet-active {
    background: #005FA3 !important; 
    opacity: 1 !important;
}

.footer {
    padding-top: 140px;
    padding-bottom: 122px;
    background-image: url('../img/contact-background.png');
    background-size: cover;
    background-position: center;
    color: #fff;
}
.footer-content {
    display: flex;
}
.footer h2.section-title {
    margin-bottom: 60px;
    padding: 0;
}
.footer-info, form.footer-form {
    width: 50%;
}
.footer-info p {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    max-width: 445px;
    margin-bottom: 80px;
}
.footer-social {
    display: flex;
    
}
.footer-social p {
    display: flex;
    font-size: 21px;
    line-height: 29px;
    font-weight: 300;
    margin-right: 40px;
}
.footer-social p img {
    margin-right: 15px;
}
.footer-form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}
.footer-form-item {
    display: flex;
    flex-direction: column;
    width: 45%;
}
form.footer-form label {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
form.footer-form input {
    height: 26px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
}
form.footer-form input::placeholder {
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD
}
.footer-form-row-textarea {
    margin-bottom: 70px;
}
form.footer-form textarea {
    height: 100px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}
form.footer-form textarea::placeholder {
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD
}
.footer-form-row-btn {
    display: flex;
    justify-content: flex-end;
}
.footer-form-row-btn a {
    width: 270px;
    height: 60px;
    display: inline-block;
    background-color: #005FA3;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright {
    padding-top: 50px;
    padding-bottom: 40px;
}
.copyright-content {
    display: flex;
    justify-content: space-between;
}
.copyright p {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.copyright p:last-child {
    text-align: right;
}